
* {
	box-sizing: border-box;
}

#mycanvas {
position: absolute;
}

header {
	width: 800px;
	height: 100px;
	font-size: 12px;
	font-family: helvetica
	color: orange;
	text-align: center;
}

.scoreP1{
height: 25px;
width: 100px;
position: absolute;
top: 80px;
left: 50px;
text-align: center;
color: orange;
}
.scoreP2{
height: 25px;
width: 100px;
position: absolute;
top: 80px;
left: 600px;
text-align: center;
color: orange;
}
.playerTurn{
	height: 25px;
	width: 100px;
	position: absolute;
	top: 80px;
	left: 350px;
	text-align: center;
	color: blue;
}
